spring:
  application:
    name: wooriLearn

  profiles:
    active: dev

  datasource:
    url: jdbc:mysql://localhost:3306/wooriLearn?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  jwt:
    secret: yPybjS2BLVOGDezfMhcOXl6viR49aJxl