spring:
  application:
    name: wooriLearn

  profiles:
    active: dev

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  jwt:
    secret: ${JWT_SECRET}
    access-expiration: ${JWT_ACCESS_EXPIRATION:3600000}
    refresh-expiration: ${JWT_REFRESH_EXPIRATION:31536000000}


client:
  base-url: ${CLIENT_BASE_URL}

account:
  external-auth:
    base-url: ${ACCOUNT_EXTERNAL_AUTH_BASE_URL}

