<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_DIR" value="./log"/>
    <property name="LOG_FILE" value="app.log"/>
    <property name="LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%highlight(%-5level)] [%thread] - %X{requestId} - %logger{36} - %msg%n"/>
    <property name="LOG_FILE_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] - %X{requestId} %logger{36} - %msg%n"/>

    <!-- 콘솔 로그 설정 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                ${LOG_PATTERN}
            </pattern>
        </encoder>
    </appender>

    <!-- 파일 로그 설정 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_FILE}</file>
        <encoder>
            <pattern>${LOG_FILE_PATTERN}</pattern>
        </encoder>

        <!-- 로그 파일 롤링 정책 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern> <!-- 파일 이름 패턴 지정 -->
            <maxFileSize>100MB</maxFileSize> <!-- 최대 사이즈 지정 -->
            <totalSizeCap>1GB</totalSizeCap> <!-- 총 보관 용량 한도 -->
            <maxHistory>7</maxHistory>  <!-- 보관 일수 -->
        </rollingPolicy>
    </appender>

    <!-- 로그 레벨 지정 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <!-- 패키지별 로그 레벨 -->
    <!--    <logger name="org.hibernate.SQL" level="DEBUG"/>-->

</configuration>